@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
.hide-label {
  display: none;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #000;
  color: #aaa;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  padding: 30px 0px;
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #000;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding-top: 16px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 10px 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}
#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li button {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 300px;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 20px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-address {
  font-size: 1.4em;
  margin: 10px auto;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
#restaurant-container {
  width: 100%;
  text-align: center;
}
#restaurant-img {
  width: 100%;
  max-width: 800px;
  height: auto;
}
#restaurant-hours {
  margin: 0 auto;
}
#restaurant-hours td {
  font-size: 1.2em;
  color: #666;
}
    @media screen and (min-width: 800px) {
      #restaurant-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 30px;
      }
      #restaurant-container div {
        width: 50%;
      }
    }
    @media screen and (min-width: 1440px) {
      #restaurant-container {
        padding: 0 120px;
      }
      #restaurant-name {
        font-size: 2em;
      }
      #restaurant-address {
        font-size: 1.8em;
      }
      #restaurant-hours td {
        font-size: 1.5em;
      }
    }
#reviews-container {
  padding: 30px 0 80px;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 auto 30px;
  overflow: hidden;
  padding: 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
  font-size: 1em;
}
    @media screen and (min-width: 800px) {
      #reviews-container {
        padding-left: 40px;
        padding-right: 40px;
      }
      #reviews-list li p {
        font-size: 1.3em;
      }
    }
    
/* ================= Add Review Form ================= */

/* containing div for the form */
.review-form-container {
  max-width: 64em;
  padding: 0 5%;
  margin: 1em auto;   /* center when max width is reached */
}

/* Form element */
.review-form {
  width: 100%;  /* total form width */
  margin: 0 auto;  /* center form element in div */
  background: none;  /* best with no background, otherwise fieldset border/legend looks funny */
  text-align: left;  /* align form items to left */
}

/* all class names containing 'input-group' get extra space to declutter form */
[class*='input-group'] {
  margin-bottom: 1em;
}

/* input labels full width on separate line */
label {
  width: 100%;
  display: inline-block;  /* treat as block elements (no inline wrapping when responsive) */
}

/* input areas full container width */
input, textarea {
  width: 100%;
}

/* set text box height, allow vertical resizing */
textarea {
  height: 6em;
  resize: vertical;
}

/* ---------------responsive form------------------ */

    /* allow 2 column form */
    @media (min-width: 50em) {
      /* get flexy */
      .flex-form {
        display: flex;
        justify-content: ;
        align-items: ;
      }
      /* flex children to full width of column */
      .flex-form div {
        width: 100%;  /* this works at 100 because inputs are a variable width */
      }
      /* applies to input group column 1 */
      .input-group-1 {
        padding-right: 10%;    /* center space between form columns */
      }
      /* applies to input group column 2 */
      .input-group-2 {
        padding-left: 10%;    /* center space between form columns */
      }
    }
      
      
/* -------------form result classes--------------- */

.error {
  color: red;
}

.success {
  color: green;
}
    
    
    